
*.LST
*.lst
*.bak
*.hex
*.m51
*.cpp
*.m51
*.cpp
/OBJ/*.obj
/OBJ/*.htm
/OBJ/*.lnp
/OBJ/*.axf
/OBJ/*.xlsx
/uIP-1.0/doc/*.pdf
/uIP-1.0/doc/html/*.png
/uIP-1.0/doc/html/*.gif
/uIP-1.0/doc/html/*.css
/uIP-1.0/apps/webserver/httpd-fs/*.png
/uIP-1.0/apps/webserver/httpd-fs/*.css
/uIP-1.0/apps/webserver/httpd-fs/*.shtml
*.png
